#slider-area{
    width:500px;
    text-align:center;

}
/*スライダーの幅はこちらのwidthを変更すること。*/
#slider-box{
    width:470px;
     border:1px solid black;
     padding:2px 4px 2px 2px;
     margin-left:0px;
     margin-right:auto;
     margin-top:6px;

}

#slider  {
    border:0px;
    width:400px;
    height:30px;
}


#slider .ui-slider-handle {
    width:15px;
    height:30px;
    margin-top:5px;
    margin-left:0px;
    border: 0px;
    background: none;
    font-weight: normal;
}

#slider-timelabel{
    text-align:center;

}
.timelabel{
    font-size:1em;
    border: 0;
}
