@CHARSET "UTF-8";

.box1 {
	width: 500px;
	padding: 1px 0px; font-weight : bold;
	border: solid 3px #000000;
	font-weight: bold;
}

#slider-custom {
	width: 500px;
	height: 30px;
	border: solid 0px #000000;
}

#slider-custom .ui-slider-handle {
	width: 60px;
	height: 30px;
	margin-top: 4px;
	margin-left: 0px;
	background: #E38692;
}

#slider-custom .ui-slider-range {
	width: 600px;
	background: #E38692;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}